*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  color: #ededed;
  background: black;
  font-family: "Exo 2", sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
}
.heading {
  font-size: 3rem;
  font-family: "Orbitron", sans-serif;
  padding-top: 5rem;
  text-align: center;
}

span {
  color: #e50914;
  font-family: "Orbitron", sans-serif;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}

.navbar a:hover,
.navbar a.active {
  color: #e50914;
}

#menu-icon {
  font-size: 3.6rem;
  color: #e50914;
  cursor: pointer;
  display: none;
}
.home {
  height: 100vh;
  background-image: url("./images/pexels-tima-miroshnichenko-7991179.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.home-content {
  max-width: 600px;
}
.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Orbitron", sans-serif;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #e50914;
  font-family: "Orbitron", sans-serif;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}
.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #e50914;
  border: 2px solid #e50914;
  border-radius: 8px;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #e50914;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #fff;
}

.btn-box a:nth-child(2):hover {
  color: #fff;
}

.btn-box a:nth-child(2)::before {
  background: #e50914;
}
.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
  color: #e50914;
}
/* Tablet en Mobiel (max-width: 768px) */
@media (max-width: 768px) {
  .navbar {
    display: none; /* Verberg de navigatie standaard */
    flex-direction: column; /* Zorg dat de links onder elkaar staan */
    align-items: center;
    background-color: black; /* Achtergrondkleur van het menu */
    position: absolute;
    top: 100%; /* Onder de header */
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 100;
    transition: all 0.3s ease-in-out; /* Smooth animatie bij tevoorschijn komen */
  }

  .menu-active .navbar {
    display: flex; /* Maak de navigatie zichtbaar */
  }

  .navbar a {
    margin: 10px 0;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
  }

  #menu-icon {
    display: block; /* Zorg ervoor dat het menu-icoon zichtbaar is */
    cursor: pointer;
    color: #fff;
  }
}

/* Upcoming Movie Section */
.upcoming-movie {
  padding-block: 100px;
  padding-inline: 30px;

  .headerr {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .subtitle {
      small {
        font-size: 12px;
        color: #e50914;
        text-transform: uppercase;
        font-weight: 500;
      }

      h4 {
        font-size: 40px;
        font-family: "Orbitron", sans-serif;
        color: #fff;
      }
    }
  }

  .movie-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 3rem;
  }
}

.wrapper {
  inline-size: 80%;
  position: relative;

  .movie-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 15px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 30px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &.no-transition {
      scroll-behavior: auto;
    }

    &.dragging {
      scroll-snap-type: none;
      scroll-behavior: auto;

      .card {
        cursor: grab;
        user-select: none;
      }
    }

    :where(.card) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card {
      scroll-snap-align: start;
      list-style: none;
      background: transparent;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      .img img {
        inline-size: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-start: 0.5rem;
        inline-size: 100%;

        a {
          color: #fff;
          text-decoration: none;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #e50914;
          }
        }

        span {
          color: #e2d703;
          font-weight: 600;
          font-size: 14px;
        }
      }

      .footer {
        inline-size: 100%;
        display: flex;
        justify-content: space-between;
        margin-block-start: 0.5rem;

        span {
          color: #e2d703;
          padding: 3px 10px;
          border: 2px solid #fff;
          font-size: 12px;
          font-weight: 600;
        }

        .time-rating {
          span {
            color: #fff;
            padding: 0;
            border: none;
          }

          i {
            color: #e2d703;
            margin-inline-end: 0.3rem;
          }
        }
      }
    }
  }
}

/* Top Movie Section */
.top-movie {
  padding-block: 100px;
  padding-inline: 30px;
}

.top-movie .headerrr,
.tv-series .headerrr {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.top-movie .headerrr small,
.tv-series .headerrr small {
  color: #e50914;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.top-movie .headerrr h4,
.tv-series .headerrr h4 {
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  color: #fff;
}

/* Shared styles for movies and series */
.same {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    inline-size: 80%;
    justify-content: center;
    row-gap: 50px;
    column-gap: 30px;
    margin-block-start: 3rem;
    background-color: black;

    .card {
      inline-size: 80%;
      background-color: black;

      .img img {
        inline-size: 100%;
        object-fit: cover;
        border-radius: 6px;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-start: 0.5rem;
        inline-size: 100%;

        a {
          color: #fff;
          text-decoration: none;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #e2d703;
          }
        }

        span {
          color: #e2d703;
          font-weight: 600;
          font-size: 14px;
        }
      }

      .footer {
        inline-size: 100%;
        display: flex;
        justify-content: space-between;
        margin-block-start: 0.5rem;

        span {
          color: #e2d703;
          padding: 3px 10px;
          border: 2px solid #fff;
          font-size: 12px;
          font-weight: 600;
        }

        .time-rating {
          span {
            color: #fff;
            padding: 0;
            border: none;
          }

          i {
            color: #e2d703;
            margin-inline-end: 0.3rem;
          }
        }
      }
    }
  }
}

.tv-series {
  padding-block: 100px;
  padding-inline: 30px;
}

/* Section Title */
.section-title {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
  padding-left: 20px;
  border-left: 5px solid #e50914;
}

.card {
  background-color: #1c1f36;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Pricing Section */
.pricing-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.pricing-card {
  background-color: #2d2d2d;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s;
}

.pricing-card:hover {
  transform: scale(1.05);
}

.pricing-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #e50914;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.price span {
  font-size: 1rem;
  color: #aaa;
}

.features {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.features li {
  margin: 10px 0;
  font-size: 0.9rem;
  color: #ccc;
}

/* Pricing Button */
.pricing-header {
  text-align: center;
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  color: #fff;
}
.pricing-button {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pricing-button:hover {
  background-color: #e50914;
}

/* Responsive Design */
@media (max-width: 768px) {
  .pricing-section {
    flex-direction: column;
    align-items: center;
  }
}

.footer-distributed {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 30px 40px 50px 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
  position: relative;
  left: 7.5%;
}

.footer-distributed h3 {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.footer-distributed h3 span {
  color: #e50914;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
  position: relative;
  left: 5%;
}

.footer-distributed .footer-center i {
  background-color: rgba(27, 31, 34, 0.8);
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center .bx-envelope {
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e50914;
  font-style: italic;
  text-decoration: none;
}

/* Footer Right */

.h {
  width: 85%;
  height: 2.5px;
  border: 0 none;
  padding: 0%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: whitesmoke;
}

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-links a:hover {
  color: #e50914;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    padding: 0 20px;
  }
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
